{% extends 'base_generic.html' %}

{% block title %}
    Password Recovery
{% endblock %}

{% block content %}
    <style>
        /* Идеальный стиль для страницы восстановления пароля */
        body {
            background: #FDFDFD;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            color: #333; /* Темно-серый цвет текста */
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 30px;
            margin-bottom: 20px;
            color: #000; /* Чёрный цвет текста */
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .form-label {
            margin-bottom: 10px;
            font-size: 16px;
            color: #333; /* Темно-серый цвет текста */
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #CCC;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-error {
            font-size: 14px;
            color: #FF6347; /* Красный цвет для сообщений об ошибке */
            margin-bottom: 10px;
        }

        button {
            padding: 10px 20px;
            background-color: #007AFF; /* Синий цвет для кнопки */
            color: #FFF; /* Белый цвет текста */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        button:hover {
            background-color: #0056b3; /* Тёмно-синий цвет при наведении */
        }
    </style>

    <h1>Password Recovery</h1>

    <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <p><button type="submit">Continue</button></p>
    </form>
{% endblock %}
